<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" media="all" />
    <link rel="stylesheet" href="~/css/site.css" media="all" />
    <link href="~/css/Print.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js" media="all"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js" media="all"></script>
</head>
<body>
    @RenderBody()
</body>

</html>